sketch.ino/diagram.json/flows.json
[
  {
    "id": "mqtt-in-gol",
    "type": "mqtt in",
    "z": "flow1",
    "name": "Eventos de Gol",
    "topic": "futebol_feminino/gols",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt-broker1",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 160,
    "y": 120,
    "wires": [["json1"]]
  },
  {
    "id": "json1",
    "type": "json",
    "z": "flow1",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 370,
    "y": 120,
    "wires": [["function1"]]
  },
  {
    "id": "function1",
    "type": "function",
    "z": "flow1",
    "name": "Atualiza Placar",
    "func": "let score = flow.get('score') || {home:0, away:0};\n\nif (msg.payload.event === \"goal\") {\n    // Aqui você pode trocar entre home e away conforme regra\n    score.home += 1;\n}\n\nflow.set('score', score);\nmsg.payload = score;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 590,
    "y": 120,
    "wires": [["ui_text1"]]
  },
  {
    "id": "ui_text1",
    "type": "ui_text",
    "z": "flow1",
    "group": "ui-group1",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Placar",
    "label": "Placar",
    "format": "{{msg.payload.home}} x {{msg.payload.away}}",
    "layout": "row-spread",
    "x": 800,
    "y": 120,
    "wires": []
  },
  {
    "id": "mqtt-broker1",
    "type": "mqtt-broker",
    "name": "Broker Público HiveMQ",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "ui-group1",
    "type": "ui_group",
    "name": "Placar do Jogo",
    "tab": "ui-tab1",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui-tab1",
    "type": "ui_tab",
    "name": "Futebol Feminino",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
